.login-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #f0f3ff 0%, #fdf5ff 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.login-logo {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}

.logo-text {
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    color: #4D4D4D;
    font-family: 'Raleway', sans-serif;
    line-height: 100%;
}

.logo-underline {
    width: 176px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--green, linear-gradient(210deg, #A6E8FF 13.4%, #B280F5 86.6%));
    margin: 0 auto;
    margin-top: 6px;
}

.login-flower {
    position: absolute;
    top: 83px;
    right: 112px;
    bottom: 0;
    height: 1020px;
    transform: scaleX(-1);
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
}


.login-card {
    background-color: white;
    border-radius: 30px;
    padding: 40px 32px;
    width: 568px;
    height: 358px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
}

.login-card h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #333;
    text-align: center;
}

.login-card input {
    width: 100%;
    color: #333;
    padding: 12px 16px;
    margin-bottom: 16px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    transition: border 0.2s ease;
    background-color: white;
}

.login-card input:focus {
    border-color: #9D6BFF;
}

.login-card button {
    width: 100%;
    padding: 12px 16px;
    background-color: #9D6BFF;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.login-card button:hover {
    background-color: #a67fff;
}

.login-error {
    margin-top: 12px;
    color: #ff4d4f;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.register-link {
    margin-top: 12px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.register-link a {
    color: #9D6BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
