.register-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #f4f4ff, #e0f1ff, #f0e6ff);
    position: relative;
    overflow: hidden;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}

.left-side img {
    position: absolute;
    width: 806px;
    top: 99px;      /* <- отступ от верха */
    left: 140px;    /* <- отступ от левого края */
    height: 1000px;  /* <- фиксированная высота */
}

.logo-wrapper {
    position: absolute;
    width: 181px;
    height: 38px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #4D4D4D;
    position: relative;
    line-height: 100%;
}

.logo-underline {
    height: 6px;
    width: 176px;
    background: linear-gradient(#A6E8FF, #B280F5);
    margin: 1px auto 0;
    border-radius: 5px;
}

.register-card {
    position: absolute;
    top: 50%;
    right: 140px;
    transform: translateY(-50%);
    width: 600px;
    padding: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
}

.register-card h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #4D4D4D;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input {
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    transition: border-color 0.2s;
    background-color: #fff;
    color: #000;
}

.form input:focus {
    border-color: #9D6BFF;
}

.form button {
    padding: 12px 16px;
    background-color: #9D6BFF;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form button:hover {
    background-color: #A57DFF; /* чуть светлее при наведении */
}



.login-link {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    color: #666;
}

.login-link a {
    color: #9D6BFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4px;
    transition: color 0.2s ease;
}

.login-link a:hover {
    color: #804DFF;
    text-decoration: underline;
}


