.register-bg {;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-image: url('/register-back.svg');;
    background-size: cover;
}

.register-header {
    width: 100vw;
    height: 80px;
    text-align: center;
    position: absolute;
    background-color: white;
}
.register-logo {
    font-family: 'Raleway', 'Segoe UI', Arial, sans-serif;
    color: #4D4D4D;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    position: relative;
    margin-top: 20px;
}
.reg-logo-underline {
    width: 176px;
    height: 6px;
    display: block;
    margin-top: 5px;
}



.register-flower {
    position: absolute;
    margin-left: 140px;
    margin-top: 99px;

}

.register-flower img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
    display: block;
}

.register-flower-mob{
    display: none;
}

.register-card {
    position: absolute;
    top: 57%;
    left: 1113px;
    transform: translateY(-50%);
    width: 527px;
    height: 486px;
    padding: 40px 24px;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 23px 15px -8px rgba(182, 177, 186, 0.91);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.register-title {
    color: #4D4D4D;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 24px;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.register-form input {
    width: 100%;
    height: 40px;
    border: 1px solid #E6E6E6;
    border-radius: 15px;
    padding: 8px 12px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: #FFF;
    color: #4D4D4D;
    box-sizing: border-box;
}
.register-form input::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.25);
}
.register-form input:focus {
    border-color: #bfa5ff;
}
.register-btn {
    display: flex;
    width: 479px;
    padding: 9.5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 15px;
    border: 1px solid #722ED1;
    background: #722ED1;

    color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: background 0.2s, border 0.2s;
}

.register-btn:hover {
    background: #8b42e5;
    border-color: #8b42e5;
}

.register-btn-text {
    color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.register-link {
    width: 422px;
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
    color: #4D4D4D;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.register-link a {
    color: #7029CC;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 2px;
    cursor: pointer;
}


.register-link a:hover {
    color: #9d6bff;
}

@media (max-width: 360px) {
    .register-bg {;
        width: 100vw;
        height: 800px;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        background-image: url('/register-back-mob.svg');;
        background-size: cover;
    }
    .register-header {
        display: none;
    }
    .register-flower-mob {
        position: static;
        margin-left: 43px;
        margin-top: 50px;
        display: block;

    }
    .register-flower {
        display: none;
    }

    .register-card {
        position: static;
        width: 328px;
        height: auto;
        padding: 24px 24px 12px 24px;
        border-radius: 28px;
        box-shadow: 0 23px 15px -8px rgba(182, 177, 186, 0.91);
        margin-top: 130px;
        margin-left: 16px;
    }
    .register-title {
        font-size: 20px;
        margin-bottom: 18px;
    }
    .register-form {
        gap: 18px;
    }
    .register-btn{
        width: 100%;
    }
    .register-link {
        width: 100%;
        margin-bottom: 12px;
    }

}


