.custom-select {
    position: relative;
    width: clamp(125px, 50vw, 278px);
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.custom-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding: 0 12px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.custom-select-options {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.custom-select-option {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-select-option:hover {
    background: #f0f0f0;
}

.arrow {
    margin-left: 8px;
}
