.stress-diagram-body {
    display: flex;
    width: 810px;
    height: 364px;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
    background: #FFF;
    padding: 8px 40px;
}

.stress-diagram-text {
    display: flex;
    align-self: flex-start;
    width: 240px;
    height: 16px;
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 44px;
}

.stress-diagram-main {
    display: flex;
    flex-direction: row;
    width: 570px;
    height: 260px;
}

.stress-diagram-number {
    display: flex;
    width: 25px;
    gap: 28px;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 13px;
}

.diagram-number-100, .diagram-number-75, .diagram-number-50, .diagram-number-25, .diagram-number-0 {
    display: flex;
    color: #4D4D4D;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.stress-diagram-stroka {
    display: flex;
    position: relative;
    width: 532px;
    flex-direction: column;
    margin-top: 11px;
}

.stroka-number-100, .stroka-number-75, .stroka-number-50, .stroka-number-25 {
    display: flex;
    width: 100%;
    height: 1px;
    background: rgba(77, 77, 77, 0.40);
    margin-bottom: 50px;
}
.stroka-number-0 {
    display: flex;
    width: 100%;
    height: 1px;
    background: rgba(77, 77, 77, 0.40);
}
.mini-stroka {
    width: 436px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 45px;
}

.mini-stroka1 {
    display: flex;
    width: 1px;
    height: 9px;
    background: rgba(77, 77, 77, 0.40);
}

.diagram-status {
    display: flex;
    width: 489px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 25px;
}

.diagram-status-normal {
    display: flex;
    width: 47px;
    color: #4D4D4D;
    text-align: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.diagram-status-low {
    display: flex;
    width: 54px;
    color: #4D4D4D;
    text-align: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 58px;
}

.diagram-status-moderate {
    display: flex;
    width: 79px;
    color: #4D4D4D;
    text-align: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 41px;
}

.diagram-status-high {
    display: flex;
    width: 60px;
    color: #4D4D4D;
    text-align: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 39px;
}

.diagram-status-very-high {
    display: flex;
    width: 66px;
    color: #4D4D4D;
    text-align: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-top: 4px;
    margin-left: 45px;

}

.stress-diagram-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    width: 100%;
    height: 203px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 12px;
    margin-left: 15px;
}


.stress-bar-wrap {
    flex: 1;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
}


/* сам столбик */
.bar {
    width: 60px;
    border-radius: 15px;
    position: relative;
    transition: height 0.25s linear, background-color 0.5s ease;
}

.bar-label {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 3px;
    width: 60px;
    text-align: center;

    color: #4D4D4D;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 22px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.55s ease;
}
.bar-value {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);

    background: #9169EC;
    color: white;

    padding: 8px 14px;
    border-radius: 2px;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;

    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.55s ease;

    pointer-events: none;
}
.bar-value::after {
    content: "";
    position: absolute;

    left: 50%;
    transform: translateX(-50%) rotate(45deg);

    bottom: -4px;

    width: 8px;
    height: 8px;

    background: #9169EC;
    transition: opacity 0.55s ease;


    border-radius: 0 0 2px 0;   /* делает угол мягче */
}

.bar:hover .bar-value {
    opacity: 1;
}

.bar:not(.bar-danger):hover {
    background: #9169EC;
}

.bar-danger:hover {
    background: #DE2020;
}

.bar-danger:hover .bar-value::after {
    background: #DE2020;
}
.bar-danger:hover .bar-value{
    background: #DE2020;
}

.stress-diagram-bar:has(.bar:hover) .bar-label {
    opacity: 0;
}


/* обычный (фиолетовый) */
.bar-normal {
    background: #C4B5FD;
}

.bar-mild {
    background: #C4B5FD;
}

.bar-moderate {
    background: #C4B5FD;
}

.bar-high {
    background: #C4B5FD;
}

.bar-very-high {
    background: #C4B5FD;
}

.bar-danger {
    background: #FF9494;
}