.home-wrapper {
    display: flex;
    height: 1130px;
    background-image: url('/home-back.svg');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;

}

.home-container {
    display: flex;
    max-width: 1646px;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px 0px 87px;
}

.tab-navigate {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 18px;
}

.main-tab {
    z-index: 2;
    display: flex;
    cursor: pointer;
}

.main-tab span {
    display: inline-block;
    color: rgba(77, 77, 77, 0.5);
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: color 0.3s ease;
}

.main-tab.active span {
    color: #4D4D4D;
}

.main-tab-track {
    position: absolute;
    left: 0;
    bottom: 4px;

    width: 271px;
    height: 1px;
    background: #D9D9D9;
}

.main-tab-slider {
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 6px;
    z-index: 1;
    pointer-events: none;
    transition:
            transform 0.35s ease,
            width 0.35s ease,
            opacity 0.2s ease;
}

.main-header-content {
    display: flex;
    padding: 50px 0px 0px 0px;
    gap: clamp(5px, 2vw, 24px);
    margin-bottom: 31px;
}

.main-headleft-content {
    display: flex;
    flex-direction: column;
    width: clamp(700px, 50vw, 919px);
    gap: 61px;
}
.select-count {
    display: flex;
    gap: 24px;

}
.select-content {
    display: flex;
    flex-direction: column;
    width: clamp(125px, 50vw, 278px);
    gap: 24px;
    height: 111px;
}

.period-select, .team-select {
    display: flex;
    width: clamp(125px, 50vw, 278px);
    height: 38px;
    padding: 0 12px;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);

    color: rgba(0, 0, 0, 0.25);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.count-test {
    display: flex;
    flex-direction: row;
    width: 617px;
    height: 111px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.text-count {
    display: flex;
    padding: 17px 24px 17px 24px;
}

.main-text {
    display: inline;
    color: #4D4D4D;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-text-count {
    display: inline;
    color: #7878D3;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-left: 8px;
}

.pucha-home {
    display: flex;
}

.level-content {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.level-item1, .level-item2, .level-item3, .level-item4, .level-item5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 41px;
    border-radius: 30px;
    gap: 13px;
    background: #FFF;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
    padding: 2px;
}

.very-funny-smile, .light-smile, .moderate-smile, .sad-smile, .very-sad-smile {
    display: flex;
    width: 25px;
    height: 25px;
}

.shkala {
    display: flex;
    align-items: center;
    justify-content: center; /* центр текста */
    position: relative;

    width: 128px;
    height: 37px;
    border-radius: 30px;
    background: #D2D2D2;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.shkala-fill {
    position: absolute; /* 👈 ключевой момент */
    left: 0;
    top: 0;
    height: 100%;
    background-color: #9169EC;
    transition: width 0.3s ease;
}

.shkala-text {
    width: 46px;
    height: 21px;
    z-index: 1;
    color: #4D4D4D;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 91.667% */
}


.metric-state {
    display: flex;
    flex-direction: row;
    gap: clamp(1px, 0.8vw, 15px);
}

.metric-card {
    position: relative;
    width: clamp(125px, 12vw, 224px);
    height: 224px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.metric-card h1 {
    margin: 22px 0 0 0;
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.metric-card p {
    margin: 0;
    margin-top: -2px;
    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.metric-shape {
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
    width: 212px;
    height: 112px;
    border-radius: 118px 118px 10px 10px;
    background: #C4B5FD;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.metric-shape-inner {
    position: absolute;
    inset: 1px;
    border-radius: 118px 118px 10px 10px;
    overflow: hidden;
}

.metric-liquid {
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    background: #8F6AEF;
    transition: height 0.6s ease;

}

.metric-wave {
    position: absolute;
    top: -30px;
    left: 0;
    width: 250%;
    height: 38px;
    fill: #8F6AEF;
    animation: waveMove 4s linear infinite;
}

@keyframes waveMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.metric-shape span {
    position: relative;
    z-index: 2;
    margin-top: 39px;
    color: #EDE9FE;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}

.main-body-content {
    display: flex;
    flex-direction: row;
    width: clamp(1118px, 90vw, 1645px);
    gap: 24px;
}

.percent-employee {
    display: flex;
    flex-direction: column;
    max-width: 1104px;
    width: 100%;
    height: 100%;
    max-height: 700px;
    border-radius: 20px 20px 20px 20px;
}

.percent-employee-head {
    display: flex;
    width: 100%;
    height: 43px;
    padding: 8px 16px;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #9169EC;
}

.percent-employee-left {
    display: flex;
    color: #FFF;

    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.percent-employee-right {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
    width: fit-content;
    height: 25px;
}

.employee-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.employee-button {
    color: #4D4D4D;
    display: inline-block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.employee-tab.active .employee-button {
    color: #FFF;
}

.employee-slider {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    pointer-events: none;
    transition:
            transform 0.35s ease,
            width 0.35s ease,
            opacity 0.2s ease;
}

.risk-pagination-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
}

.testing-pagination-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
}
.percent-testing {
    display: flex;
    width: 616px;
    max-height: 700px;
    border-radius: 20px 20px 20px 20px;
    flex-direction: column;
}

.percent-testing-head {
    display: flex;
    width: 100%;
    height: 43px;
    justify-content: flex-start;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #9169EC;

    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.percent-testing-uphead {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.percent-testing-teams {
    display: flex;
    width: 207px;
    height: 105px;
    padding: 8px;
    align-items: center;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #D9CFFF;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.percent-testing-number-team {
    display: flex;
    width: 112px;
    height: 105px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #D9CFFF;
}

.percent-testing-number-team h1 {
    display: flex;
    margin: 0;
    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

}

.polosa {
    display: flex;
    width: 1px;
    height: 22px;
    background: rgba(0, 0, 0, 0.06);
    margin-left: -1px;
}

.percent-testing-number-test {
    display: flex;
    width: 114px;
    height: 105px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #D9CFFF;
}

.percent-testing-number-test h1 {
    display: flex;
    width: 87px;
    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.percent-testing-percent-test {
    display: flex;
    width: 183px;
    height: 105px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #D9CFFF;
}

.percent-testing-percent-test h1 {
    display: flex;
    width: 104px;
    color: #4D4D4D;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.percent-testing-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 47px; /* 🔥 фиксированная высота всей строки */
}

.percent-testing-rowteam {
    display: flex;
    width: 207px;
    height: 47px;
    padding: 8px 16px;
    align-items: center;
    gap: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #CEDFF6;
}
.percent-testing-rowteam h1 {
    display: flex;
    width: 185px;
    color: #4D4D4D;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
.percent-testing-number-rowteam {
    display: flex;
    width: 113px;
    height: 47px;
    padding: 8px 5px 8px 4px;
    justify-content: center;
    align-items: center;
    gap: 153px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #EBF2F6;

    color: #000;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;

}

.percent-testing-number-rowtest {
    display: flex;
    width: 114px;
    height: 47px;
    padding: 8px 5px 8px 4px;
    justify-content: center;
    align-items: center;
    gap: 153px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #EBF2F6;

    color: #000;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}
.percent-testing-percent-rowtest {
    display: flex;
    width: 182px;
    height: 47px;
    padding: 8px 5px 8px 4px;
    justify-content: center;
    align-items: center;
    gap: 153px;

    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #EBF2F6;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.progress-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.progress-bar-base {
    width: 89px;
    height: 15px;
    background: transparent;
    border-radius: 5px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: #9169EC;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.percent-testing-row:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: none;
    overflow: hidden;
}


/* Команды */

.team-header-content {
    display: flex;
    padding: 50px 0px 0px 0px;
    gap: clamp(5px, 2vw, 24px);
    margin-bottom: 31px;
}

.team-headleft-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.team-select-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.team-stress, .team-anxiety, .team-depression {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 115px;
    height: 111px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.team-stress h1, .team-anxiety h1, .team-depression h1 {
    display: flex;
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.team-stress p, .team-anxiety p, .team-depression p {
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 18px;
}

.team-stress-sphere, .team-anxiety-sphere, .team-depression-sphere {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sphera {
    display: block;
    width: 100%;
}

.sphere-text {
    position: absolute;
    top: 8px;        /* регулируй положение */
    left: 50%;
    transform: translateX(-50%);

    color: #EDE9FE;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    pointer-events: none; /* чтобы клики проходили сквозь текст */
}


.team-headright-content {
    display: flex;
    gap: 25px;
}

.team-counter-test {
    display: flex;
    width: 532px;
    height: 462px;
}

.team-moodscale-content {

}
.team-body-content {
    display: flex;
    flex-direction: row;
    gap: 24px;

}


.team-left-indicator, .team-right-indicator {
    display: flex;
    flex-direction: column;
    width: 810px;
    height: 66px;
    border-radius: 15px 15px 0 0;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: none;
    transition: box-shadow 0.01s ease;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.2);

    z-index: 1000;
}

.header-left-indicator, .header-right-indicator {
    display: flex;
    flex-direction: row;
    padding: 14px 40px 0px 40px;
    gap: 236px;
    height: 66px;
}

.team-left-indicator.error {
    display: flex;
    flex-direction: column;
    width: 810px;
    height: 66px;
    border-radius: 15px 15px 0 0;
    background: #FFF;
    border: 0;
    box-shadow:
            inset 0 3px 0 #DE2020,
            inset 3px 0 0 #DE2020,
            inset -3px 0 0 #DE2020;
}

.right-indicator.error {
    color: #DE2020;
}

.team-right-indicator.error {
    border: 0;
    box-shadow:
            inset 0 3px 0 #DE2020,
            inset 3px 0 0 #DE2020,
            inset -3px 0 0 #DE2020;
}

.indicator {
    display: flex;
    width: 220px;
    flex-direction: row;
    height: 38px;
    gap: 14px;
}

.indicator-icon {
    width: 26px;
    height: 26px;
    align-self: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.indicator-icon:hover {
    transform: scale(1.1);
}

.indicator-text, .right-indicator {
    display: flex;
    width: 182px;
    height: 38px;
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.2s ease;
}

.indicator-text.error {
    color: #DE2020;
    display: flex;
    width: 182px;
    height: 38px;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.2s ease;
}

.indicator-stroka, .right-indicator-stroka  {
    display: flex;
    width: 100%;
    height: 1px;
    background: rgba(77, 77, 77, 0.40);
}

.indicator-metric, .right-indicator-metric {
    display: flex;
    position: relative;
    margin-top: 20px;
    gap: 14px;
    flex-direction: row;
    width: fit-content;
    align-items: flex-start;
}

.indicator-tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator-button {
    color: rgba(77, 77, 77, 0.20);
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease;
    white-space: nowrap;
    margin-top: 6px;
}

.indicator-tab .indicator-button {
    color: rgba(77, 77, 77, 0.20);
}

.indicator-tab.active .indicator-button {
    color: #4D4D4D;
}

/* есть триггер, но вкладка не активна */
.indicator-tab.trigger-inactive .indicator-button {
    color: rgba(227, 65, 65, 0.40);
}

/* есть триггер и вкладка активна */
.indicator-tab.trigger-active .indicator-button {
    color: #E34141;
}

.indicator-slider {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
    height: 3px;
    pointer-events: none;
    transition:
            transform 0.35s ease,
            width 0.35s ease,
            opacity 0.2s ease;
}