.home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9ff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    text-align: center;

}
.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px); /* 100% экрана минус футер */
    padding: 20px;
    box-sizing: border-box;
}

.home-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.home-container button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.home-container button:hover {
    background-color: #4338ca;
}

.home-container p {
    margin-top: 20px;
    font-size: 16px;
    color: #444;
    word-break: break-word;
}
