.app-header {
    width: 100%;
    background-color: white;
    display: flex;

}
.header-container {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.header-avatar {
    position: absolute;
    top: 8px;
    left: 1714px;
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header-tabs {
    position: absolute;
    display: flex;
    width: 179px;
    height: 38px;
    left: 139px;
    top: 20px;
    gap: 30px;
}

.tab {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #4D4D4D66;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: color 0.2s ease;
}

.tab.active {
    color: #4D4D4D;
}

.logo-underline-img1 {
    position: absolute;
    width: 178px;
    bottom: -6px;
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(to right, #B280F5, #A6E8FF);
    transition: all 0.3s ease;
    pointer-events: none;
}

.hidden {
    display: none;
}