.testing-header {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(400px, 70vw, 1354px);
    background-image: url('/header-back.svg');
    backdrop-filter: blur(16px);

}


.testing-header-avatar {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;

}

.testing-header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 65px;
}

.testing-header-title {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    margin-top: 20px;
    margin-bottom: 4px;
}

.logo-underline-img2 {
    display: flex;
    width: 221px;
    height: 6px;
    border-radius: 5px;
    object-fit: contain;
}

@media (max-width: 1470px) {
    .testing-header {
        gap: 0;
    }
    .testing-header-avatar {
        display: none;
    }
}

