.testing-header {
    width: 100vw;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    background-image: url('/header-back.svg');;
    backdrop-filter: blur(16px);

}


.testing-header-avatar {
    position: absolute;
    top: 8px;
    left: 1714px;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 141px;

}

.testing-header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 65px;
}

.testing-header-title {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    left: 139px;
    top: 20px;
}

.logo-underline-img2 {
    position: absolute;
    left: 139px;
    top: 61px;
    width: 221px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 5px;
    display: block;
    object-fit: contain;
}


