.testing-header {
    position: relative;

    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 140px;
    box-sizing: border-box;

    background-image: url('/header-back.svg');
}

.testing-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 32px;

    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0.35) 45%,
            rgba(255, 255, 255, 0) 100%
    );

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    pointer-events: none;
}

/* ===== АВАТАР ===== */

.testing-header-avatar {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    cursor: pointer;
    z-index: 1;
}

.testing-header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 65px;
}

/* ===== ЦЕНТР ===== */

.testing-header-title-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    z-index: 1;
}

/* ===== ВКЛАДКИ ===== */

.testing-header-tabs {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

/* ===== ОБЩИЕ СТИЛИ ТАБОВ ===== */

.testing-header-title,
.testing-header-stat-link {
    position: relative;
    display: inline-flex;
    align-items: center;

    height: 40px;

    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;

    text-decoration: none;
    transition: color 0.3s;
}

/* ===== ТЕСТИРОВАНИЕ ===== */

.testing-header-title {
    color: rgba(77, 77, 77, 0.5);
}

.testing-header-title.active {
    color: #4D4D4D;
}

/* ===== ТВОЯ КАРТИНКА UNDERLINE ===== */

.logo-underline-img2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;

    width: 100%;
    height: 6px;

    border-radius: 5px;
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
}

/* ===== СТАТИСТИКА ===== */

.testing-header-stat-link {
    color: rgba(77, 77, 77, 0.5);
}

.testing-header-stat-link:hover {
    color: #4D4D4D;
}

/* ===== ПРОЧЕЕ ===== */

.testing-header-title:hover {
    color: #666;
}

.inactive-title {
    color: #B8B8B8;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}

/* ===== АДАПТИВ ===== */

@media (max-width: 1470px) {
    .testing-header {
        gap: 0;
    }

    .testing-header-avatar {
        display: none;
    }
}