.test-header {
    width: 100vw;
    min-height: 80px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(255,255,255,0.84);
    backdrop-filter: blur(16px);
}
.test-header-z {
    display: flex;
}
.test-header-avatar {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: -200px;
    margin-right: 141px;

}

.test-header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 65px;
}
.test-header-title-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.test-header-title {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    margin-top: 20px;
    margin-bottom: 4px;

}

.logo-underline-img3 {
    display: flex;
    width: 221px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 5px;
    object-fit: contain;
}

