.percent-employee-uphead {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.percent-employee-teams {
    display: flex;
    width: 238px;
    height: 58px;
    padding: 8px 16px;
    align-items: center;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #D9CFFF;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.stroka {
    display: flex;
    width: 1px;
    height: 22px;
    background: rgba(0, 0, 0, 0.06);
    margin-left: -1px;
}

.percent-employee-normal {
    display: flex;
    width: 154px;
    height: 58px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #D9CFFF;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.percent-employee-light {
    display: flex;
    width: 152px;
    height: 58px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #D9CFFF;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.percent-employee-medium {
    display: flex;
    width: 153px;
    height: 58px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #D9CFFF;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.percent-employee-high {
    display: flex;
    width: 153px;
    height: 58px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #D9CFFF;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.percent-employee-critical {
    display: flex;
    width: 154px;
    height: 58px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #D9CFFF;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.percent-employee-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.percent-employee-rowteams {
    display: flex;
    width: 238px;
    height: 47px;
    padding: 8px 16px;
    align-items: center;
    gap: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: #CEDFF6;
}

.percent-employee-rowteams h1 {
    width: 185px;
    color: #4D4D4D;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.percent-employee-rownormal {
    display: flex;
    width: 154px;
    height: 47px;
    padding: 8px 5px 8px 4px;
    align-items: center;
    gap: 153px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #EBF2F6;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.percent-employee-rowlight {
    display: flex;
    width: 152px;
    height: 47px;
    padding: 8px 5px 8px 4px;
    align-items: center;
    gap: 153px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #EBF2F6;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.percent-employee-rowmedium {
    display: flex;
    width: 153px;
    height: 47px;
    padding: 8px 5px 8px 4px;
    align-items: center;
    gap: 153px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #EBF2F6;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.percent-employee-rowhigh {
    display: flex;
    width: 153px;
    height: 47px;
    padding: 8px 5px 8px 4px;
    align-items: center;
    gap: 153px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #EBF2F6;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.percent-employee-rowcritical {
    display: flex;
    width: 154px;
    height: 47px;
    padding: 8px 5px 8px 4px;
    align-items: center;
    gap: 153px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.06);
    background: #EBF2F6;

    color: #4D4D4D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.progress-risk {
    display: flex;
    align-items: center;
    gap: 5px;
}

.progress-bar-base {
    width: 89px;
    height: 15px;
    background: transparent;
    border-radius: 5px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.progress-bar-normal {
    height: 100%;
    background-color: #9169EC;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.progress-bar-light {
    height: 100%;
    background-color: #A78BFA;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.progress-bar-medium {
    height: 100%;
    background-color: #C4B5FD;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.progress-bar-high {
    height: 100%;
    background-color: #D7A5EF;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.progress-bar-critical {
    height: 100%;
    background-color: #C7AAD5;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.percent-employee-row:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: none;
    overflow: hidden;
}