.test-app-footer {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    padding: 22px 0;
    font-family: 'Segoe UI', sans-serif;
    color: #888;
    text-align: center;
    height: 75px;
    width: 100vw;
    box-sizing: border-box;
    margin-top: auto;
    display: flex;
    z-index: 2;
}



.test-footer-links {
    display: flex;
    justify-content: space-between;
    width: 736px;
    height: 28px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1px;
    box-sizing: border-box;
    gap: 40px
}

.test-footer-links span {
    color: rgba(77, 77, 77, 0.40);
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media (max-width: 1550px) {
    .test-app-footer {
        height: 60px;
    }
    .test-footer-links span {
        font-size: 16px;
    }
    .test-footer-links {
        max-width: 768px;
        justify-content: center;
    }
}
