.testing-wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    margin-top: auto;

}

.intro-bg {
    background-image: url('/intro-back.svg');;
    background-size: cover;
    background-attachment: scroll;

}

.intro-block {
    align-self: flex-start;
    background-color: white;
    position: relative;
    padding: 40px 24px;
    border-radius: 28px;
    box-shadow: 0 23px 15px -8px rgba(182, 177, 186, 0.91);
    width: 599px;
    height: 302px;
    margin-top: 301px;
    margin-left: 272px;
    margin-bottom: 322px;
}

.intro-block h2 {
    width: 396px;
    height: 28px;
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 77px;
    margin-bottom: 27px;
}
.intro-block p {
    width: 551px;
    text-align: center;
    color: #4D4D4D;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.hello-flower{
    position: absolute;
    margin-left: 1135px;
    margin-top: 91px;
}

.primary-btn {
    padding: 6.4px 15px;
    background-color: #722ED1;
    width: 510px;
    height: 51px;
    margin-left: 21px;
    margin-bottom: -4px;
    border: none;
    gap: 10px;
    justify-content: center;
    color: #FFF;
    align-items: center;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}
.primary-btn:hover {
    background-color: #A259D9;
}

.question-block {
    align-self: flex-start;
    position: relative;
    width: 806px;
    height: 626px;
    background: #F5F7FF;
    box-shadow: 0 23px 15px -8px rgba(182, 177, 186, 0.91);
    border-radius: 28px;
    padding: 40px 24px;
    margin-top: 147px;
    margin-left: 140px;
    margin-bottom: 152px;
}
.question-bg {
    background-image: url('/test-back.svg');
}
.question-row {
    display: flex;
    width: 758px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.question-header {
    width: 78px;
    height: 33px;
    color: #000;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    gap: 10px;
    flex-direction: column;
}

.q-num,
.q-total {
    font-size: 32px;
    font-weight: 100;
}

.q-slash {
    margin: 0 0; /* Подбери отступ визуально! Обычно от 8 до 16px */
    font-size: 32px;
    font-weight: 100;
    line-height: 1;
}

.question-text {
    width: 582px;
    color: #4D4D4D;
    white-space: pre-line;
    word-break: break-word;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.answers-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.answer-btn {
    display: flex;
    width: 584px;
    height: 65px;
    padding: 4px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);

    color: rgba(0, 0, 0, 0.85);;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 87px;
}
.answer-btn:hover,.answer-btn:focus {
    color: #9854F6;
    background: #f7f1ff;
}
.choose-btn {
    display: flex;
    width: 584px;
    height: 68px;
    padding: 6.4px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #722ED1;
    background: #722ED1;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);

    color: #FFF;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: 87px;
}
.choose-btn:hover {
    background-color: #A259D9;

}
.pycha-quest {
    position: absolute;
    margin-top: 350px;
    margin-left: 1036px;

}

.test-cloud {
    position: absolute;
    margin-left: 1144px;
    margin-top: 171px;
    background-size: contain;
    object-fit: contain;

}

.test-text {
    position: absolute;
    width: 327px;
    height: 74px;
    margin-left: 1242px;
    margin-top: 232px;
}

.test-shadow {
    position: absolute;
    margin-top: 876px;
    margin-left: 1154px;

}

.finish-block {
    align-self: flex-start;
    position: relative;
    align-items: center;
    width: 805px;
    height: 274px;
    border-radius: 28px;
    background: #F5F7FF;
    box-shadow: 0 23px 15px -8px rgba(182, 177, 186, 0.91);
    margin-top: 557px;
    margin-left: 560px;
    margin-bottom: 94px;
}

.finish-bg {
    background-image: url('/finish-back.svg');
    display: flex;
    min-height: 100vh;
    width: 100vw;
}


.finish-block h2 {
    width: 760px;
    height: 41px;
    color: #4D4D4D;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 91px;
    margin-left: 22px;
    margin-bottom: 14px;
}
.finish-block p {
    width: 620px;
    height: 78px;
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 93px;
}

.finish-pycha {
    position: absolute;
    margin-top: 194px;
    margin-left: 686px;
}

.finish-galka {
    position: absolute;
    margin-top: 561px;
    margin-left: 884px;
    z-index: 1;

}

.finish-text {
    position: absolute;
    margin-top: 150px;
    margin-left: 371px;
    z-index: 2;
}


.finish-cloud {
    position: absolute;
    margin-top: 85px;
    margin-left: 224px;
    background-size: contain;
    object-fit: contain;
}
