.testing-wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    margin-top: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.testing-wrapper::-webkit-scrollbar {
    display: none;
}
        /*Блок Интро*/
.intro-bg {
    background-image: url('/intro-back.svg');;
    background-size: cover;

}
.intro-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    min-width: 1420px;
    width: 100%;
    max-height: 820px;
    box-sizing: border-box;
    gap: clamp(100px, 13vw, 254px);
}

.intro-block {
    background-color: white;
    flex-direction: column;
    display: flex;
    padding: 40px 24px;
    border-radius: 28px;
    box-shadow: 0 23px 15px -8px rgba(182, 177, 186, 0.91);
    width: 599px;
    height: 302px;
}

.intro-block h2 {
    display: flex;
    width: 396px;
    height: 28px;
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 77px;
    margin-bottom: 27px;
}
.intro-desc-desktop {
    width: 551px;
    display: flex;
    text-align: center;
    color: #4D4D4D;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}
.intro-desc-mobile {
    width: 551px;
    text-align: center;
    color: #4D4D4D;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
    display: none;
}

.hello-flower {
    display: flex;
    width: 639px;
    height: auto;
    margin-top: 5px;
}
.hello-flower-mob{
    display: none;
}

.primary-btn {
    padding: 6.4px 15px;
    background-color: #722ED1;
    width: 510px;
    height: 51px;
    margin-left: 21px;
    margin-bottom: -4px;
    border: none;
    gap: 10px;
    justify-content: center;
    color: #FFF;
    align-items: center;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    outline: none;
}
.primary-btn:hover,.primary-btn:active {
    background-color: #A259D9;
    border: 1px solid #A259D9;
    outline: none;
}
    /*Блок Тестирования*/
.question-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-width: 1670px;
    width: 100%;
    max-height: 820px;
    box-sizing: border-box;
    gap: clamp(5px, 5vw, 80px);

}
.question-block {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 806px;
    background: #F5F7FF;
    box-shadow: 0 23px 15px -8px rgba(182, 177, 186, 0.91);
    border-radius: 28px;
    padding: 40px 24px;
    margin-top: 100px;
}
.question-bg {
    background-image: url('/test-back.svg');
    background-size: cover;
}
.question-row {
    display: flex;
    width: 758px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.question-header {
    width: 78px;
    height: 33px;
    color: #000;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    gap: 10px;
    flex-direction: column;
}

.q-num,
.q-total {
    font-size: 32px;
    font-weight: 100;
}

.q-slash {
    margin: 0 0; /* Подбери отступ визуально! Обычно от 8 до 16px */
    font-size: 32px;
    font-weight: 100;
    line-height: 1;
}

.question-text {
    width: 582px;
    color: #4D4D4D;
    white-space: pre-line;
    word-break: break-word;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.answers-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 24px;
    align-items: center;
}
.answer-btn {
    display: flex;
    width: 584px;
    height: 65px;
    padding: 4px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);

    color: rgba(0, 0, 0, 0.85);;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    outline: none;
}

.answer-btn:hover,.answer-btn:focus,.answer-btn:active {
    color: #9854F6;
    background: #f7f1ff;
    border: 1px solid #9854F6;
    outline: none;
}
.choose-btn {
    display: flex;
    width: 584px;
    height: 68px;
    padding: 6.4px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #722ED1;
    background: #722ED1;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);

    color: #FFF;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: 87px;
    outline: none;
}
.choose-btn:hover,.choose-btn:active  {
    background-color: #A259D9;
    border: 1px solid #A259D9;
    outline: none;

}
.question-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 757px;
    height: 820px;
    margin-top: -30px;
}
.pycha-quest {
    display: flex;
    justify-content: flex-start;
    margin-top: -40px;
}

.pycha-quest-tab {
    display: none;
}

.pycha-quest-mob {
    display: none;
}

.test-cloud {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 5px;
}

.test-cloud-mob {
    display: none;
}


.test-shadow {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    margin-right: 50px;

}
    /*Блок Финиша*/
.finish-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 1470px;
    width: 100%;
    max-height: 820px;
    align-items: center;
    gap: 95px;

}

.finish-image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 1500px;
    margin-top: 12px;

}

.finish-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 778px;
    gap: 14px;
    height: auto;
    border-radius: 28px;
    padding: 0 24px 40px 24px;
    background: #F5F7FF;
    box-shadow: 0 23px 15px -8px rgba(182, 177, 186, 0.91);
    margin-bottom: 35px;
}

.finish-bg {
    background-image: url('/finish-back.svg');
    background-size: cover;
}


.finish-block h2 {
    width: 100%;
    height: 41px;
    color: #4D4D4D;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    justify-content: center;
    display: flex;
}
.finish-block p {
    width: 620px;
    height: 78px;
    color: #4D4D4D;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

.finish-block button {
    display: flex;
    width: 510px;
    height: 51px;
    padding: 6.4px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #722ED1;
    background: #722ED1;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    outline: none;

    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.finish-block button:focus {
    border: 1px solid #722ED1;
    outline: none;
}

.finish-pycha {
    display: flex;
}

.finish-galka {
    display: flex;
    width: 151px;
    height: 151px;
    margin-top: -74px;

}

.finish-cloud {
    display: flex;
    justify-content: flex-start;
}
.finish-cloud img {
    width: 511px;
    height: 207px;
}

@media (max-width: 1550px) {
    .testing-wrapper {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow-x: hidden;
    }
    .question-bg {
        background-image: url('/test-back-tab.svg');;
    }
    .question-container {
        min-width: 600px;
        flex-direction: column;
        width: 100%;
        height: 810px;
        gap: 0;
    }
    .question-image-container {
        justify-content: flex-end;
        margin-top: 10px;
        max-width: 700px;
    }
    .question-block {
        max-width: 550px;
        align-self: center;
        margin-bottom: 24px;
        gap: 0;
        margin-top: 0px;
    }
    .question-row {
        width: 100%;
    }

    .question-header {
        width: 66px;
        align-items: center;
        margin-top: -5px;
    }

    .q-num,
    .q-slash,
    .q-total {
        font-size: 24px;
    }

    .question-text {
        width: 100%;
        height: auto;
        font-size: 20px;
        margin-right: 30px;
    }

    .answers-block {
        margin-top: 25px;
    }

    .answer-btn {
        width: 100%;
        height: 40px;
        padding: 0 7px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px
    }
    .choose-btn {
        width: 100%;
        height: 40px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        padding: 0 7px;
        margin-left: 0;
    }

    .pycha-quest-tab {
        display: flex;
        position: static;
        align-self: center;
    }
    .pycha-quest-tab img {
        display: flex;
    }
    .pycha-quest {
        display: none;
    }
    .pycha-quest-mob {
        display: none;
    }
    .test-cloud {
        display: none;
    }
    .test-shadow {
        display: none;
    }
}

@media (max-width: 768px) {
    .testing-wrapper {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top: auto;
    }

    /*Блок Интро*/
    .intro-bg {
        background-image: url('/intro-back-mob.svg');;
        background-size: cover;

    }
    .hello-flower{
        display: none;
    }

    .hello-flower-mob{
        display: block;
        position: static;
        margin-top: 81px;
        margin-left: 5px;
        width: 100vw;
    }

    .intro-block {
        width: 340px;
        height: auto;
        margin: -60px auto 0 auto;
        padding: 24px 25px;
        text-align: center;
    }

    .intro-block h2 {
        width: 100%;
        height: 46px;
        font-size: 20px;
        margin-left: 0;
        text-align: left;
        margin-bottom: 18px;
    }
    .intro-desc-desktop {
        display: none;
    }
    .intro-desc-mobile {
        display: block;
        width: 292px;
        text-align: left;
        font-size: 16px;

    }
    .primary-btn {
        width: 100%;
        height: 36px;
        margin: 0;
        font-size: 16px;
    }
    /*Блок Тестирования*/
    /*Блок Финиша*/
    .testing-header {
        display: none;
    }
    .test-header{
        display: none;
    }

    .app-footer {
        display: none;
    }
}
